html {margin:0;padding:0;}
body {
  font-size: 100%;
  font-size:0.8em;
  font-family: verdana, arial, sans-serif;
  padding:0;
  margin:0;
  color:#444;
  background-color: #fff;
  background-repeat: repeat-x;
}

/* Patrones

poolAgencia:  #0e235b
poolBORME:    #cf0707
poolBdatos:   #f29708
poolAlertas:  #0e235b
poolLegis:    #f29708
poolLibros:   #7c7a3b
poolAnuncios: #119c1d

*/



div#unaColumna, div#unaColumna2 {margin:0;padding:0;}


p, a, ul, table, h1, h2, h3, h4, h5, h6, form, div, option, select, input  {font-size: 100%;}
a:hover, a:visited:hover {color:red}
.boton {color:#444}

select {background-color: #FEFFEC; }
input:focus, option:focus {border: 2px solid #E6B700;}


a[name] {color:black}

@media print
{
.noPrint {display:none;}
}

/* ................ */

.alerta {background-color:yellow;color:red;border:1px solid green;}
.destaca {color: #CC0000; font-weight: bold;}

abbr, acronym {border-width:0;cursor: help;}

img.borde {border:1px solid #333;}
img {border-width:0;}
.imgDer {float:right;margin: 0 0 0 2em;}
.imgIzq {float:left;margin-right: 2em;}
.imgCen {margin: 1em auto;}
.imgCenBlock {margin: 1em auto;display:block}
.imgMid {vertical-align:middle;}
.izq {float:left;}


.oculto{display:none;margin:0;}
.fuera{left:-9999px;position:absolute;overflow:hidden;}
.nbsp {white-space: nowrap;}

div.clear {display:block;clear:both; margin:0.1em 0;}

.mayus {text-transform:uppercase;}
.subr {text-decoration:underline;}
.negrita {font-weight: bold;}
.grande {font-size:1.1em}
.peque {font-size:.9em}
.centro, .centrador {text-align:center}
.der {text-align:right}
.centrado {margin-right: auto; margin-left: auto;}

p.sangrado {margin-left:5em}

.espacio {clear:both;}/* Tras bloques anteriormente flotados */

.bloque {display:block}
.bloqueP {display:block;margin: .5em 0;}

.menu_extra {text-align:center;margin-top:1em}


/* ................ */


h2 {
  font-size: 1.7em;
  font-weight:normal;
  color: #3f4e75;
  padding:0 0 .2em;
  margin-top:0;
  clear:both;
  }

h3{
  font-size: 1.5em;
  font-weight:normal;
  border-top: 1px solid #c0c9d2;
  margin-top:1.5em;
}
h2 + h3, h3.primero {
  margin-top:0em;
}
h4{
  font-size: 1.3em;
  font-weight:normal;
}

ul li {
  list-style-type : none;
  list-style-position : outside;
  list-style-image : none;
  list-style-image : url(../imagenes/rayaLi.gif);
  /*padding: 0 0 1em;*/
  padding: .5em 0;
}
ol li {padding: 0.3em 0;}
ol.alfabetico li {	list-style-type : lower-alpha;}
ul li ul li {
  list-style-type : none;
  list-style-position : outside;
  list-style-image : url(../imagenes/puntoLi.gif);
  /*padding: 0.1em 0;*/
}
ul.noType li {list-style-type : none;list-style-image : none;}

label {font-weight: bold;}
.inputText {background-color: #fcfedc;border: 1px solid #bbb;}
.casillaInputText input, .casillaInputText select {background-color: #fcfedc;border: 1px solid #bbb;}

.casillaInputText input#text, .casillaInputText input#checkbox, .casillaInputText select {background-color: #fcfedc;border: 1px solid #bbb;}
/*input, submit {background-color: none;}*/

/*-------------Layout general--------------*/

div#cabecera{
  margin: 0 auto 11px;
  padding: 0 0 1em;
  text-align:right;
  background-image: url(../imagenes/bkgCabecera.gif);
  background-repeat: repeat-z;
  background-position: 0% 0%;
  height:8em;
}

div#contenedor {
  margin: 3em auto;
  padding:1em 0;
 	width:72em;
  /*max-width:72em; flujo*/
  min-height: 30em;
  height:100%;
}
div#contenedor {
  background-color: transparent;
  color:#333;
}

div#contenedor1-2,
div#contenedor1-3 {
  background-color: transparent;
  color:#333;
  margin-top: 2em;
}

div#contenedor2-3 {
  margin: 0;
  padding: 0;
  width:54em;
  /*height:100%;*/
  float:left;
  border:0px solid blue;
}
div#contenedor2-3 .cajaInfo {
  margin: 0 3em 0 0;
}

#contenedor1-2 ul,
#contenedor1-3 ul {
  margin:0 0 2em;
  padding:0;
}

#contenedor1-2 ul li,
#contenedor1-2 ul li ul li,
#contenedor1-3 ul li,
#contenedor1-3 ul li ul li {
  padding:.4em 0 .4em 1.7em;
  list-style-image : none;
  background-color:transparent;
  background-image: url(../imagenes/bkgMenuLi.gif);
  background-repeat:no-repeat;
  background-position: .3em .8em;	
}
#contenedor1-3 ul.noMenuLi li,
#contenedor1-3 ul li.entrada,
#contenedor1-3 ul.noMenuLi li ul li {
  padding:.4em 0 .4em 0;
  background-image: none;	
}

#contenedor1-2 ul li.linkIcon,
#contenedor1-3 ul li.linkIcon,
#contenedor1-2 ul li.linkIcon ul li,
#contenedor1-3 ul li.linkIcon ul li,
#contenedor1-2 ul li.linkIconBlock,
#contenedor1-3 ul li.linkIconBlock,
#contenedor1-2 ul li.linkIconBlock ul li,
#contenedor1-3 ul li.linkIconBlock ul li {
  padding:.4em 0 .4em 0;
  background-image: none;
  vertical-align: middle;
}

#contenedor1-3 ul li.linkIcon,
#contenedor1-3 ul li.linkIconBlock {
  background-image: none;
  padding: 0 0 1em;
}

#contenedor1-3 ul li.linkIconBlock {
  border: 1px solid #666;
  vertical-align: middle;
  background-color: #f6f6f6;
  /*min-width: 22em;*/
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;}
}

#contenedor1-3 li.linkIcon a img, {
  margin: 0 15px 0 0;
  text-decoration: none;
}

#contenedor1-3 li.linkIconBlock a img {
  margin: .5em;/*float:left;*/
}
#contenedor1-3 li.linkIcon a,
#contenedor1-3 li.linkIconBlock a  {
  text-decoration: none;
}
#contenedor1-3 li.linkIconBlock a  {
  display:block;color:#000;
}
#contenedor1-3 li.linkIcon a:hover,
#contenedor1-3 li.linkIcon a:visited:hover,
#contenedor1-3 li.linkIconBlock a:hover,
#contenedor1-3 li.linkIconBlock a:visited:hover  {
  text-decoration: none;
}
#contenedor1-3 li.linkIconBlock a span  {
  text-decoration: underline;
  text-decoration: none;
}

/* PRUEBA ============================*/

.linkIconBlock {/*caja exterior del botón*/
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ccc #ccc #ddd;
  vertical-align: middle;
  padding:2px;
  margin:0 0 2em 0;
  background-color: #fff;
  vertical-align:middle;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;width: 20em;
}

.linkIconContenido,
.linkIconContenidoLegis,
.linkIconContenidoAnun,
.linkIconContenidoTem {/*caja interior del botón*/
  vertical-align: middle;
  border: 1px solid #eee;
  height:5em;
  min-height:60px;
}

span.imgIconBlock {float:left;width: 28%;min-width: 50px;height:100%;text-align:center;}
span.txtIconBlock {float:left;width: 68%;height:78%;font-size: 1.1em;padding:1em .3em 0;}
span.txtIconBlock img {display:block; margin: 0 0 0 3.5em;}


.linkIconBlock a  {
  color: #0e235b;
  font-weight: bold;
  text-decoration: none;
  cursor:pointer;

}
.contIcon {
  margin: -1em auto 0em;
  padding: 1em 0;
  border-right: 0px solid #aaa;
  width: 72em;
  min-width: 730px;
  overflow:hidden;
}

.contIcon ul {margin: 0;padding:0;}

#contenedor1-3 .contIcon ul li.cont {
  display: inline;
  float: left;
  padding: .3em 0;
  margin: 0;
  width:24.5%;
  width:33.3%;
  list-style-position : outside;
  background-image : none;
}

#contenedor1-3 .contIcon2 ul li.cont {
  padding: 0 0 .3em 0;
  margin: 0;
  width:24.5%;
  width:33.3%;
  list-style-position : outside;
  background-image : none;
}


#contenedor1-2 ul li ul,
#contenedor1-3 ul li ul {
  margin:0;
  padding:0;
}

#contenedor1-2 .tarjeton ul li {
  padding:.2em 0 .2em 1.7em;
  list-style-image : none;
  background-color:transparent;
  background-image: url(../imagenes/rayaLi.gif);
  background-repeat:no-repeat;
  background-position: .4em .5em;	
}
.tarjeton .grande {font-size:1.3em; text-align: center;}

#contenedor1-2 h3,
#contenedor1-3 h3 {
  font-weight: normal;
  font-size: 1.3em;
  margin:0 0 1em;
  margin:0 0 1em;
  padding:0;
  color:#444;
  border-top: 1px solid #888;
}


#contenedor1-2 h3 img,
#contenedor1-3 h3 img {
  margin:-1px .5em 0 0;
}
/*#contenedor1-2 a,*/
#contenedor1-3 a {
  text-decoration: none;
}
/* -----------comentado 02-07-2010 ------------
#contenedor1-2 a:hover,
#contenedor1-3 a:hover,
#contenedor1-2 a:visited:hover,
#contenedor1-3 a:visited:hover {
  text-decoration: underline;
}*/  
#contenedor1-2 h3 a,
#contenedor1-3 h3 a {
  color: #000;
  text-decoration: none;
}

.caja1-2 {
  margin: 1em 0 0 0;
  padding: 0 1.5em 0 0;
  width:45%;
  float:left;
  border:0px solid blue;
}
.caja1-2 + .caja1-2 {
  margin: 1em 0 0 4%;
  border:0px solid blue;
}

.caja1-3 {
  margin: 0 1em 0 0;
  padding: 0 .5em;
  width:21.8em;
  /*height:100%;*/
  float:left;
  border:0px solid blue;
}

.caja1-3a {
  margin: 0 0em 0 0;
  padding: 0 .5em;
  width:24em;
  /*height:100%;*/
  float:left;
  border:0px solid blue;
}

.caja1-3f {
  margin: 0 0 0 0;
  padding: 0;
  width:11em;
  min-width:171px;
  /*height:100%;*/
  float:left;
  border:0px solid blue;
}

.caja2-3 {
  float:left;
  width:46.5em;
}

.caja1-4 {
  margin: 1em 0 1em 1em;
  padding:0;
  float: left;
  width:21em
}

.caja1-5 {margin: 0 2em 0 1em ;}

#indexAEBOE .caja1-4 h3,
#indexSede .caja1-4 h3{
  font-size:0.9em;
  font-weight:bold;
  text-decoration:none;
  margin: 0 0.5em 0.5em 0;
  padding: 0 0.5em;
}
.caja1-4 ul {	margin: 0 1em 1.5em 0.5em;padding:0;}
.caja1-4 ul li ul {	margin-bottom: 0;	margin-left: 1em;padding:0;}
.caja1-4 ul li {list-style-type:none;	list-style-image:none;	padding: 0.2em 0;	list-style-position : outside;}
.caja1-4 ul.listaHoriz li {padding-right:1em}


/*------------dos columnas----------------*/

div#dosColumnas {margin:0;padding:0;clear:both;}

div#dosColumnas #col-1 {margin:0;padding:0;float:left;width:14.5em;}
div#dosColumnas #col-1 img {margin:0 auto;padding:0;}

div#dosColumnas #col-2 {margin:0 0 0 2em;padding:0;float:left;width:53em;min-height:30em;}

/*---------------PIE--------*/
div#pie {margin: 3em 0 0;padding:1em 0 1.5em;text-align:center;clear:both;}

#pie {
  color:#ddd;
  background-color:#54565c;
  background-image: url(../imagenes/pie/bkgPie_01.gif);
  background-repeat: repeat-x;
  background-position: 0% 0%;
  height: 100%;
}

#menuPie {margin: 0 0.3em;padding:0;}

#menuPie ul li a{ text-decoration: none; color: #ddd;}

#menuPie ul li a:hover{ text-decoration: underline; color:red; }



#menuPie li img {vertical-align:middle}

.direccionPie {color: #bababa;font-size:.9em;margin: 1em 0;padding:0;}
.direccionPie p {margin: 0 2em;padding:0;}


span.linkRSS {padding:0 0 0 18px;background-image: url(../imagenes/iconRSSpeq.gif);
  background-repeat: no-repeat;background-position: 0% 50%;min-width:30px}



/*-------------Logos cabecera--------------*/
div#logoInicio {
  text-align:left;
  width: 72em;
  min-width: 840px;
  height: 60px;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 auto .5em;
  border:1px solid #666;
  background-color: #fff;
}

/*---------------Menú superior para elegir IDIOMAS--------*/
div.menuIdiomas {
  color:#333;
  width: 72em;
  text-align: right;
  margin: 0 auto;
}
.menuIdiomas p.texto-disclaimer {float:left;padding: 0.1em 1em;margin:0;background-color:#D18085;color:#fff; border:0 solid #D90909;font-size:0.9em}
.menuIdiomas li.texto-disclaimer {/*float:left;*/padding: 0.1em 1em;margin:0;background-color:#D18085;color:#fff; border:0 solid #D90909;font-size:0.9em}
.menuIdiomas ul {margin:0;padding:0.1em 0;}
.menuIdiomas ul li {display:inline;padding:0 0 0 2em;font-size:0.8em}
.menuIdiomas ul li a {white-space: nowrap;}
.menuIdiomas a {text-decoration:none;font-weight:normal}
.menuIdiomas a:link {color:#000}
.menuIdiomas a:visited {color:#000}
.menuIdiomas a:hover {color:red;text-decoration:underline;}


/*----------------Franja Horizontal------------------------*/


#menu_principal { overflow: hiddASDFen; margin: 0; text-align:center;vertical-align: center;height:3em;}


#menu_principal .poolAgencia,
#menu_principal .poolBdatos,
#menu_principal .poolLegis,
#menu_principal .poolLibros,
#menu_principal .poolAnuncios,
#menu_principal .poolBORME,
#menu_principal .franjaBOE { background: url("../imagenes/franjaHoriz/bkgFranjaHoriz_01.gif") repeat-x  0 100%;}

#menu_principal .poolAgencia,
#menu_principal .franjaBOE { background-image: url("../imagenes/franjaHoriz/bkgFranjaHoriz_01.gif");}

#menu_principal .poolBORME { background-image: url("../imagenes/franjaHoriz/bkgFranjaHoriz_poolBORME.gif");}

#menu_principal .poolAnuncios { background-image: url("../imagenes/franjaHoriz/bkgFranjaHoriz_poolAnuncios.gif");}

#menu_principal .poolLegis,
#menu_principal .poolBdatos { background-image: url("../imagenes/franjaHoriz/bkgFranjaHoriz_poolLegis.gif");}

#menu_principal .poolLibros { background-image: url("../imagenes/franjaHoriz/bkgFranjaHoriz_poolLibros.gif");}

#menu_principal ul { margin: .8em auto 0;padding: .8em 0; position: relaftive; width: 72em; min-width: 850px; }


#menu_principal ul li { font-size: 1em; display: inline; padding: 1em 0em; margin: 0; line-height: 0.95em;}


#menu_principal ul li a{ color: #fff;text-decoration: none;padding: 1em 1.1em;min-height: 3em;  }

#menu_principal ul li a:hover{ text-decoration: underline; color:#d5002d; }

#menu_principal ul li a.current{ display: bloASDFck; color: #0d235b; background: #fff; border-top: 0px solid transparent; padding-top: .8em;padding-bottom: .8em;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;}

span.tv {padding-right: 20px;background: url("../imagenes/franjaHoriz/carroTienda.png") no-repeat 100% 50%;}

span.botonBuscar {padding-right: 24px;background: url("../imagenes/franjaHoriz/botonBuscar.png") no-repeat 100% 50%;}

#menu_principal ul li a.current span.botonBuscar {padding-right: 24px;background: url("../imagenes/franjaHoriz/botonBuscarCurrent.png") no-repeat 100% 50%;}

#menu_principal ul li a.current:hover{ color: #d5002d;}

/*----------------Menú MIGAS-------------------------*/


div#franjaMigas {
  margin: .6em auto;
  padding:0;
  width:86em;font-size:0.85em;
  border:0px solid red;line-height:1.8em;
}

#franjaMigas ul.migas {margin:0;padding:0; border:0px solid red;}
#franjaMigas ul.migas li {display:inline;}
#franjaMigas ul.migas li a, #franjaMigas .fraseMigas {
  white-space: nowrap;
  background-image: url(../imagenes/puntoMigas.gif);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding:0 15px 0 5px;float:left;
}
.fraseMigas {margin:0;padding:0;float:left;}

#franjaMigas ul.migas li.destino {
  min-height:30px;
  white-space: nowrap;
  padding:0 15px 0 5px;
  float:left;
}
#franjaMigas .destino {font-weight:bold;}
#franjaMigas ul.migas li a {font-weight:normal}
#franjaMigas ul.migas li a:link {color:blue;text-decoration:underline;}
#franjaMigas ul.migas li a:visited {color: Purple;text-decoration:underline;}
#franjaMigas ul.migas li a:hover {color:red;text-decoration:underline;}
#franjaMigas ul.migas li.volver a {
  white-space: nowrap;
  padding: 0 1em 0 0.3em;
  float:left;
  background-image: none;
  background-color: #fff;
  margin-left:3em;
  border:1px solid #000
}
#franjaMigas ul.migas li.volver a:hover {
  background-color: #eee;
}

div#solapa {float:right}



ul.indices {
  margin: 0 0 1em;
  padding: 0;
}


ul.indices li {
  display: inline;
  list-style-position:inside;
  list-style-image:none;
  overflow:hidden;
  background: #fff;
  white-space: nowrap;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
ul.indices li a{ text-decoration: underline;padding: 0;
  white-space: nowrap;  }

ul.indices li a:hover{ text-decoration: underline; color:#d5002d; }

ul.indices li.current { color: #000; background: #fff;}

ul.indices li {
  padding: .3em .4em;
  margin: 0 1px;
  border: 1px solid #eee;
}
ul.indices li.current {
  border: 1px solid #eee;
  font-weight:bold;
}

ul.indices li a.current:hover{ color: #fff;}

ul.indices li.solapaSinPub {
  cursor: help;color: #b8bdc7;background-color:#eee; background-image:none;
  border-color: #b8bdc7;
  border-style: solid;
}

/*-------------- A un clic ----------------------*/
div#a1clic {margin: 1em 0 0; padding:0; clear:both; border:0px solid orange;}

.contenedor1clic {margin: 0 auto;border-right: 1px dashed #ddd; width: 72em;height: 15em;}

.contenedor1clic ul {margin: 0;padding:0; position: relative;}

.contenedor1clic ul li {
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
  width:33%;
  list-style-position : outside;	
}
.contenedor1clic ul li a:link {
  display: block;	
}

.contenedor1clic .caja {
  padding: 0 2.5em;
  display: block;
  height: 14em;
  border-left: 1px dashed #ddd;
  text-align:center;
}
.contenedor1clic .caja:hover * {
  cursor:pointer;
}

.contenedor1clic p.cajaTit { font-size:1.2em;height:10em;min-height: 140px;margin:0;padding:.5em 0 1em;}
.contenedor1clic .cajaTit span { display:block;font-size:1em;height:4em }
.contenedor1clic .cajaTit span strong { font-size:1.4em;display:block;font-weight: normal;cursor:pointer; }
.contenedor1clic .cajaTit img { display:block;margin: 2em auto -80px; }
.contenedor1clic .caja a:link, .contenedor1clic .caja a:visited { text-decoration:none;color: #0e235b; }
.contenedor1clic .caja a:hover p, .contenedor1clic .caja a:visited:hover p {text-decoration: underline;color: red;}

.contenedor1clic .cajaBOE { padding: 0;margin: 0; border-top: 3px solid #0e235b;
}
.contenedor1clic .cajaBORME { padding: 0;margin: 0; border-top: 3px solid #cf0707;
}
.contenedor1clic .cajaLEGIS { padding: 0;margin: 0; border-top: 3px solid #f29708;
}

/*-------------- Destacados ----------------------*/
div#destacados {margin: 2em 0 0; padding:0; clear:both; border:0px solid orange;}

.contenedorDestacados {
  margin: 0 auto;
  border-right: 1px solid #aaa;
  width: 72em;
  height: 16em;
  height: 11em;
  min-height: 140px;
  background-color: #eee;
  min-width: 730px;
  overflow:hidden;
}

.contenedorDestacados ul {margin: 0;padding:0; position: relative;}

.contenedorDestacados ul li.cont {
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
  width:24.5%;
  width:33%;
  min-width:180px;
  min-height: 140px;
  list-style-position : outside;
  border-left: 1px solid #aaa;
  display: block;
}

.contenedorDestacados .caja {
  padding: 1em;
  height:11em;
  height: 9em;
}

.contenedorDestacados p.cajaTit { font-size:1em;min-height: 140px;margin:0;padding:.5em 0 1em;text-align:center;}

.contenedorDestacados .cajaTit span { display:block;font-size:1em;}

.contenedorDestacados .cajaTit span strong { font-size:1.3em;/*display:block;*/font-weight: normal;cursor:pointer; }

.contenedorDestacados .cajaTit span strong.poolAnuncios { border-top: 2px solid #119c1d}

.contenedorDestacados .cajaTit span strong.poolLibros { border-top: 2px solid #7c7a3b}

.contenedorDestacados .cajaTit span strong.poolAlertas { border-top: 2px solid #0e235b}


.contenedorDestacados .cajaTit img { display:block;margin: .5em auto -80px; }

.contenedorDestacados .caja a:link, .contenedorDestacados .caja a:visited { text-decoration:none;color: #0e235b; }
.contenedorDestacados .caja a:hover p, .contenedorDestacados .caja a:visited:hover p {text-decoration: underline;color: red;}

/*--------------------Calendario (meses)-----------------*/

table.BoeCalen{ margin: 0 0 1em;}
.BoeCalen td, .BoeCalen th{ text-align:right; padding: .5em .7em;}

.BoeCalen caption {
  color:#fff;
  margin: 0em auto;
  font-size:1em;
  padding: .1em;
  border: 1px solid #444;
  background-image: url(../imagenes/bkgTitS_BOE.gif);
  background-repeat:repeat-x;
  background-position: 0% 50%;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.poolBORME .BoeCalen caption {
  background-image: url(../imagenes/bkgTitS_BORME.gif);
}

.BoeCalen td { font-size:1.2em;border-width: 1px 0 0 0;color:#aaa;}
.BoeCalen th{ font-size:.8em;font-weight:normal;border-width: 0; text-align: center; }

.BoeCalen .diaFES { color:#d5002d;font-weight:normal;}

/*.BoeCalen th.diaFES { color:#d5002d;font-weight:bold;}

.BoeCalen a:link {text-decoration:underline;}*/

.BoeCalen a:link {text-decoration:none;border-bottom: 1px solid blue;	}
.BoeCalen a:visited {text-decoration:none;font-style:oblique; color:#a806f3; border-bottom: 1px solid #fff;	}
.BoeCalen a:hover {text-decoration:none;	}
.BoeCalen a:active {text-decoration:none; color:red	}


/*.BoeCalen a  {
  font-weight: normal;
}
.BoeCalen a:visited,.BoeCalen a:visited:hover  {
  text-decoration: none;
  font-weight: normal;
}
.BoeCalen a:hover,.BoeCalen a:visited:hover {
  color: red;
  text-decoration:underline;
}*/



/*.BoeCalen a:hover:visited {color:red;text-decoration:underline;font-style:oblique;}*/

/*-----------pagina inicio diarioBOE y diarioBORME-----------*/
.bloque1 {
  float: left;
  width: 54em;
  border: 0px solid red;	
}
.bloque2 {
  padding: 0 0em;
  float: left;
  width: 8em;
  border: 0px solid red;	
}
.bloque1 ul li,
.bloque2 ul li {
  list-style-type : none;
  list-style-position : outside;
  list-style-image : none;
  list-style-image : none;
  padding: 0.1em 0;
}

.cajaBuscar01 {
  padding: 1em 1em 0;
  margin: 0 .8em;
  float: left;
  width: 23em;
  border: 0px solid blue;	
}

.cajaBuscar01 fieldset {border-width:0}

.cajaSuplementos {
  margin: 0em 0 2em;
  /*padding: 0;*/
  text-align: center;
}
.cajaSuplementos .listaHoriz {margin: 0;}
ul.listaHoriz  li {display:inline;}

.cajaSuplementos .fraseHoriz {float:left;margin:0 .5em 0 18%; } /*texto en "li" con hijos horizontales*/
.cajaSuplementos .fraseHoriz + ul {float:left;} /*los hijos*/
.cajaSuplementos .fraseHoriz + ul li {padding: 0 .8em;} /*los hijos*/

.cajaSuplementos ul li {
  margin: 0;
  padding: 1em 0 0 0;
  text-align: center;
}

ul.consultaDiaria {margin:0; padding:0;text-align: center;}
ul.consultaDiaria  li.ulti {margin:0; padding:0 0 .5em;min-height: 40px;}


.meses {margin:0 0 0 10em; padding:0;}
ul.meses li {display: inline;float:left; padding:0;vertical-align: middle;text-align: center;/*border:1px dotted black;*/width:30em;}
ul.meses li.mesAnt {margin:8em 3em 0 0;padding:0;text-align: right;border:0px solid red;width:47px;}
ul.meses li.mesAct {padding:0;text-align: center;width:22em;}
ul.meses li.mesSig {margin:8em 0 0 3em;padding:0;text-align: left;border:0px solid green;width:47px;}


.menuConsultaDiaria {	
  margin: 0;
  padding: 0;
  text-align:center;
  font-size: .9em;
}
.menuConsultaDiaria ul li {
  margin: 0 0 5em;	
}
.menuConsultaDiaria ul li img {
  display: block;
  margin: 0 auto .2em;	
}

/*--------------------Calendario (años)-----------------*/


.calendarios table {
  float:left;
  margin:0 1.5em
}
.calendarios .trimestre {
  float:left;
  margin: 1em auto;
  border:0 solid red;
}
.calendarios table {font-size:0.85em}

.calendarios caption{
  color:#fff;
  margin: 0em auto;
  font-size:1em;
  padding: .1em;
  border: 1px solid #444;
  background-image: url(../imagenes/bkgTitS_BOE.gif);
  background-repeat:repeat-x;
  background-position: 0% 50%;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;

}

.poolBORME .calendarios caption{
  background-image: url(../imagenes/bkgTitS_BORME.gif);
}

.calendarios .selectAnyo {
  font-size: 1.4em;
  text-align: center;
  margin: 0 auto 1em;
  display:block;
}

.calendarios .selectAnyo option {
  padding: 0 1em;
  text-align:center;
}

/*---------Menús: CARACTERÍSTICAS COMUNES----------------------*/
.menu {
  margin:0 0 1em;
  padding:0;
  background-color: #eff0f2;
  border-width: 3px 0 1px;
  border-style: solid;
  border-color: #0e235b;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

div.menu {
  font-size: 0.85em;
}
@media print
{
div.titMenu {border:1px solid #333;}
}

.menu p.titMenu, .menu p.titMenu2 {
  font-size:1.4em;
  margin:0;
  padding: .4em;
}
.poolDOBOE .menu p.titMenu {background-repeat: repeat-x;}
.poolDOBORME .menu p.titMenu {background-repeat: repeat-x;}

.menu ul {
  margin: 0;
  padding:0;
  list-style-type : none;
  list-style-position : inside;
  list-style-image : none;
  border-width: 0 0 1px;	border-style: solid;border-color: #63739c;
}
.menu ul li {
  font-weight:normal;
  padding: 0.4em 0.5em 0.4em 1.5em;
  list-style-position:outside;
  list-style-image:none;text-align:left;
  background-color:transparent;
  background-image: url(../imagenes/bkgMenuLi.gif);
  background-repeat:no-repeat;
  background-position: .3em .8em;	
  border-width: 1px 0 0;	border-style: dotted;border-color: #63739c;
}
.menu ul li ul {
  border-width:0;
  padding:0 0 0 0;
  margin:0
}
.menu ul li ul li {
  padding:0.2em 0 0.1em 1.5em;
}
.menu a {text-decoration:none;font-weight:normal;}
.menu a:link {color:#666}
.menu a:visited,
.menu a:active {color:#666}
.menu a:hover {color:red;text-decoration:underline;}

.menu ul li.current {
  color: #000;
  font-weight:normal;
  background-image: url(../imagenes/bkgMenuLiCurrent2.png);
  background-position: 0 50%;	
  background-color:#b0afaf;
}

/*----- espacio que sigue a los menús para introducir elementos---*/
.extraIzq {margin:0;
  padding:0;
  border:1px solid #aaa;
  background-color:#BBBA99;
  background-repeat:repeat-x;
  background-position: 0% 0%;}
.extraIzq form {margin:1em 0 0;	padding:0;}
.extraIzq legend {margin:0;	padding:0;color:#333;}
.extraIzq input {margin:.3em 0 0;display:block;}
.extraIzq fieldset{
  padding:0 1em 1em;margin:0;
  border-width:0}


/*-- FAQ de la Agencia (anuncios...) ----*/ 

.indiceFAQ {
  margin:1em auto;
  padding:0.5em 1em;
  background-color: #EFF3F6;
  border:1px solid #C2D1DC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.indiceFAQ ul {
  padding: 0;margin: 2em 0
}
.indiceFAQ ul li {
  list-style-type:none;
  list-style-image:none;
  background-image: url(../imagenes/bkgFaq_peq.gif);
  background-repeat:no-repeat;
  background-position: 0% 50%;
  padding: .4em 0;
  padding-left: 20px;
}

.faqRespuesta {
  margin:3em 0 0;
  background:url(../imagenes/bkgFaq.gif) no-repeat 100% 0%;
}
.faqs h3 {
  border-top:1px solid #eee;;
  font-size:1.3em;
  font-weight:bold;
  text-decoration:none;
  margin:3em 0 0;
  padding: .8em 50px 0 0;
}


/* ============================================ */

/*---- Listados especiales ----------*/
.listadoEspecial ul li, .listadoBecas ul li {padding-bottom:1em;
  list-style-type : none;
  list-style-position : outside;
  list-style-image : url(../imagenes/puntoEdiciones.gif);}
.listadoEspecial ul li ul li {padding-bottom:1em;
  list-style-type : none;
  list-style-position : outside;
  list-style-image : url(../imagenes/puntoEdiciones2.gif);}
.listadoEspecial ul li ul {padding:1em;}
.listadoEspecial ul li p {margin:0.2em 2em;padding:0;}
.listadoBecas ul li ul li {display:inline}
.listadoBecas ul li p {margin:0.2em 3em}
.listadoBecas span.dept {font-weight:bold;}

.ediciones ul li {padding-bottom:1em;
  list-style-type : none;
  list-style-position : outside;
  list-style-image : url(../imagenes/novedad_edit.gif);
}
.ediciones ul li.nolibro {
  list-style-image: none;
  list-style-type: disc;
}

.ediciones ul li p {margin:0.2em 2em;padding:0;}

.listadoEmpleo ul li {padding: 0.5em;}
.listadoEmpleo h3 {font-size: 1.2em}



.guias h3 {border-width:1px;font-size:1.3em;font-weight:normal;text-decoration:none;margin-top:3em}
.guias table {margin-top:1em}
td.ok {background-color:#D8FFD8;}


span.ok {background-color:#D8FFD8;padding:0.8em;border:1px solid #aaa;display:block}
td.noOk {background-color:#FFD8D8;}


/*------------Mapa web -------------*/
.mapaWeb .mapaBloque {
	border-width: 1px 2px 2px 10px;
	border-style: solid;
	border-color: #999 #999 #666 #0e235b;
	margin: 2em 0 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mapaWeb .poolBORME    {	border-left-color: #cf0707;}
.mapaWeb .poolLegis    {	border-left-color: #f29708;}
.mapaWeb .poolLibros   {	border-left-color: #7c7a3b;}
.mapaWeb .poolAnuncios {	border-left-color: #119c1d;}
.mapaWeb .poolAlertas  {	border-left-color: #0e235b;}

.mapaWeb {	margin:0 0 2em;}

.mapaWeb h3 {
	margin:0;
	padding: .4em 1em;
	font-weight:normal;
	font-size:1.4em;
	color:#123a63;
	background-color: #eee;
	text-align: center;
	border-top-width:0;
	border-bottom:1px solid #aaa
}
.mapaWeb h4 {
	margin:0;
	font-size:1.2em;
	padding: .4em 2em .4em 3em;
	font-weight:normal;
	border-top:1px solid #aaa;
}
.mapaWeb h5 {
	margin:0;
	font-size:1.1em;
	padding: .6em 2em .3em 4em;
	font-weight:normal;
}
.mapaWeb ul {margin-left:6em; }
.mapaWeb ul li {border-top:0px solid #555; list-style-image: none; margin: .8em 0; padding: .4em 0;}
.mapaWeb ul li + li { border-top:1px solid #555 }
.mapaWeb ul li ul {margin: 0 0 0 3em; }
.mapaWeb ul li ul li { border-top:1px dotted #555}

.mapaWeb a {text-decoration: none; }

.mapaWeb a:hover,
.mapaWeb a:visited:hover {text-decoration: underline; }

/*---------------------------------*/

.columna1-2 {margin:0;padding: 0 0.5em 0 0;float:left;width:45%}
.contColumna1-2 {margin:0;padding: 0 1em 0 3em;}

/*-------- Estilos para un ul li horizontal ------*/
.listaHoriz {margin: 0;}
ul.listaHoriz  li {display:inline;}

.fraseHoriz {float:left;margin:0; padding:0} /*texto en "li" con hijos horizontales*/
.fraseHoriz + ul {float:left;margin-left: 1em;} /*los hijos*/
.fraseHoriz + ul li {padding: 0 .8em 0 0;} /*los hijos*/

.paginarDoc {margin: 0;text-align:center;margin:1em auto}
 ul.paginarDoc li {display:inline;margin: 0 2em}
 
 
 

.paginarDoc a,
.paginarDoc a:link,
.paginarDoc a:visited,
.paginarDoc a:visited:hover {
  text-decoration: none;
  color: #7F8BFF;
}

.paginarDoc a:hover,
.paginarDoc a:visited:hover {
  color: red;
  text-decoration: none;
}

.paginarDoc a:link .linkBack,
.paginarDoc a:visited .linkBack,
.paginarDoc a:visited:hover .linkBack {
  font-weight: normal;
  background:url(../imagenes/bkgLinkBack.gif) no-repeat 0% 50%;
  padding: 0 0 0 1.5em;
}


.paginarDoc a .linkFwd,
.paginarDoc a:visited .linkFwd,
.paginarDoc a:visited:hover .linkFwd  {
  font-weight: normal;
  background:url(../imagenes/bkgLinkFwd.gif) no-repeat 100% 50%;
  padding: 0 1.5em 0 0;
}
 
 
/*-----*/

.listaIconos {margin: 1em 0;}
ul.listaIconos  li {list-style-type : none;list-style-image : none;}


#solapa .linkFwd {  
  margin: 0 1.5em 0 0;
}
#solapa a > .linkFwd {  
  margin: 0;
}

#solapa .antPost ul li a,
#solapa .antPost ul li a:visited,
#solapa .antPost ul li a:visited:hover {
  color: #7F8BFF;
  text-decoration: none;
  font-weight: normal;
  background:url(../imagenes/bkgLinkBack.gif) no-repeat 0% 50%;
  padding: 0 0 0 1.5em;
}
#solapa .antPost ul li {color:#ccc;}
#solapa .antPost ul li+li {margin: 0 .5em 0 3.5em;color:#ccc;}


#solapa .antPost ul li+li a,
#solapa .antPost ul li+li a:visited,
#solapa .antPost ul li+li a:visited:hover {
  color: #7F8BFF;
  text-decoration: none;
  font-weight: normal;
  background:url(../imagenes/bkgLinkFwd.gif) no-repeat 100% 50%;
  padding: 0 1.5em 0 0;
}

#solapa .antPost ul li a:hover,
#solapa .antPost ul li a:visited:hover,
#solapa .antPost ul li+li a:hover,
#solapa .antPost ul li+li a:visited:hover {
  color: red;
  text-decoration: underline;
}

#solapa p.linkVolver {
	float:right;
	width:10em;
	margin-top:0em;
}
#solapa p.linkEncuesta {
	float:right;
	width:18em;
	margin-top:0em;border:0px dotted red;
}


.linkVolver a,
.linkVolver a:visited,
.linkVolver a:visited:hover {
  float:right;
  color: #7F8BFF;
  text-decoration: none;
  font-weight: normal;
  background:url(../imagenes/bkgLinkVolverSumario.gif) no-repeat 0% 50%;
  padding: 0 0 0 1.5em;margin:0;
}
.linkEncuesta a,
.linkEncuesta a:visited,
.linkEncuesta a:visited:hover {
  text-decoration: none;
}

.pagArriba a:hover,
.pagArriba a:visited:hover,
.linkVolver a:hover,
.linkVolver a:visited:hover {
  color: red;
  text-decoration: underline;
}

.linkSubir a:hover,
.linkSubir a:visited:hover,
.pagArriba a:hover,
.pagArriba a:visited:hover {
  color: red;
  background-repeat: no-repeat;text-decoration:underline;
}

span.linkCalendar {background:url(../imagenes/bkgLinkCalendar.gif) no-repeat 0% 50%;padding: 0 0 0 20px;}


p.linkCalendar {text-align:center;margin:0.4em}



.noDecor a,
a.noDecor {
  text-decoration: none;
}

/*-----------Menus horizontales grises-----------*/
.franjaMenu {margin: 0 0 0 0em;padding:0;text-align:center;}
.franjaMenu ul {margin:0;padding:0.1em 0 0.1em;}
.franjaMenu ul li {display:inline;padding:0.2em .8em;}
.franjaMenu ul li a {text-decoration:none;}
.franjaMenu a {text-decoration:none;}
.franjaMenu a:link {color:#666}
.franjaMenu a:visited {color:#666}
.franjaMenu a:hover {color:red;text-decoration:underline;}

/*--------------*/

.casillaIzq {
  float:left;
  display:block;
  width: 12em;
  text-align: right;
  padding: 0.4em 0.5em
}


.Oblig, .oblig {
  color: #CC0000;
  font-weight: bold;
  text-align: right;
  border-bottom: 0;
}
.NoOblig, noOblig {
  color: #000000;
  font-weight: bold;
  text-align: right;
  border-bottom: 0;
}

.color {color:#709b13}

@media print {
a.printNoSubr {text-decoration:none;color:#000}
}
div.sangrado {border:0 solid red;padding:1em 0.5em;margin:0.5em 0;}
div.div2Columnas {float:left;padding:1em 0.5em;margin:0.5em 0;width:45%}
.sangrado table {margin:0 auto;background-color:#fff;}
table, tr, td {margin:0;padding:0;}
table {border-collapse: collapse;border-spacing: 0;}
th {border:1px solid #bbb;background:url(../imagenes/bkgTh1.gif) repeat top left;color:#333; font-size:0.9em}
th.thTd {border:1px solid #A0B0C0;background:none;font-weight:bold;color:#333;text-align:left}
td, th {border:1px solid #A0B0C0;padding:0.2em 0.4em}
caption {font-size:1.1em;text-align:center;font-weight:normal;padding: 0.1em 0.4em 0.6em 0.4em}

.ventana_nueva {padding:0;vertical-align:middle}
a .ventana_nueva {text-decoration:none}
a [target]='_blank' {background:url(../imagenes/ventana_nueva.gif) no-repeat 0% 50%;}

p.documento {margin:0.2em 2em}

#barraSep ul li.puntoHTML a   {padding:0 30px 0 20px;background:url(../imagenes/enlacesMas.gif) no-repeat 0% 50%;}
#barraSep ul li.puntoAnal a,   #barraSep ul li.puntoAnalisis a{padding:0 30px;line-height:2.5em; background:url(../imagenes/enlacesAnal.gif) no-repeat 0% 50%;/*display:block*/}

/*-----------------enlace Epub documentos diario y bbdd------------------- */

#barraSep ul li.puntoEpub a, ul li.puntoEpub a { padding: 0 30px; line-height: 2.5em; background:url(../imagenes/enlacesEpub.gif) no-repeat 0% 50%; }


/*-----------------enlace EPUB página epubs------------------- */

.listaEpub {margin 0 0 2em;}

.listaEpub ul {
  border: 0px solid #eee;
}
.listaEpub ul li {
  list-style-image:none;
  border-top: 1px solid #eee;
}
.listaEpub ul li ul {
  border: 0px solid #eee;
}
.listaEpub ul li ul li {
  list-style-image:none;
  border-top-width: 0;
  display:inline;
}
.listaEpub ul li ul li.puntoEpub {
  width:25em;
}
.listaEpub ul li ul li.puntoLibro {
  width:40%;
  margin:0 0 0 5em;
}
.listaEpub li.puntoEpub a {
  padding:0 0 0 30px;
  background:url(../imagenes/enlacesEpub.gif) no-repeat 0% 50%;
}
.listaEpub li.puntoLibro a {
  padding:0 0 0 30px;
  text-align:right;
  line-height:2.5em;
  background:url(../imagenes/novedad_edit2.gif) no-repeat 0% 50%;
}
.listaEpub img.imgIzq {
  width:2em;
  display: none;
}

/*----------------------------------------------- */



#barraSep ul li.puntoConso a  {padding:0 30px;line-height:3em; background:url(../imagenes/enlacesConso.gif) no-repeat 0% 50%;/*display:block*/}
#barraSep ul li.puntoPDF a    {padding:0 30px;line-height:3em; background:url(../imagenes/puntoPDF.gif) no-repeat 0% 50%;display:block}
#barraSep ul li.puntoPDFsup a {padding:.5em 30px;line-height:2.5em;background:url(../imagenes/puntoPDF2.gif) no-repeat 0% 50%;}
#barraSep ul li.puntoTIFF a   {padding:0.5em 30px; line-height:2.5em; background:url(../imagenes/enlacesTif.gif) no-repeat 0% 50%;}
#textoxslt {border-bottom:0 solid #123a63;margin:0 0 2em}


.tit-doc:first-line {font-weight:bold;}
.datos-doc {margin:0;padding: 0.4em 2em;}
.enlacesDoc {margin:0.5em 0}
.enlacesDoc ul li {padding:0 0em 0 0;display:inline;}
.enlacesMas {margin:0.5em}
.enlacesMas a {padding:0 0 0 20px;background:url(../imagenes/enlacesMas.gif) no-repeat 0% 50%;}
/*.enlacesPdf {margin:0.5em}*/

.enlacesPdf a {padding:0 0 0 20px;background:url(../imagenes/enlacesPdf.gif) no-repeat 0% 50%;}

span.enlacesPdf {padding:0 20px 0 0;background:url(../imagenes/enlacesPdfLiteral.png) no-repeat 100% 50%;}
.menu span.enlacesPdf {padding:0 12px 0 0;background:url(../imagenes/enlacesPdfMenus.png) no-repeat 100% 50%;}

span.enlacesPdf a {padding:0;background-image:none;}




.enlacesTif {margin:0.5em}
.enlacesTif a {padding:0 0 0 20px;background:url(../imagenes/enlacesTif.gif) no-repeat 0% 50%;}
ul.grupoTiff li {display:inline}
div.pagTiff {float: left;}




li.puntoPDF, li.puntoPDF2, li.puntoAnalisis, li.puntoAnal, li.puntoSUP, li.puntoMas, li#puntoLIB {padding:1em 0 1em 2em;list-style-image : none;}

#indiceSumario li.puntoSUP {display:block;padding: .4em 0}
#indiceSumario li.puntoPDF2 {margin-right:1em}


li.puntoPDF a {
  background: url(../imagenes/puntoPDF.gif) no-repeat 0% 50%;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}
li.puntoMas a {
  background: url(../imagenes/puntoMas.gif) no-repeat 0% 50%;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}
li#puntoLIB a {
  background: url(../imagenes/puntoShop.gif) no-repeat 0% 50%;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}
li.puntoPDF2 a {
  background: url(../imagenes/puntoPDF2.gif) no-repeat 0% 50%;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}
li.puntoTIFF a {
  background: url(../imagenes/puntoPDF2.gif) no-repeat 0% 50%;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}
li.puntoSUP a {
  background: url(../imagenes/puntoPDF2.gif) no-repeat 0% 50%;
  padding:0.4em 0 0.4em 3em;padding-left:28px;line-height:2em}

.linkSubir,
.pagArriba {text-align:right;}

.pagArriba a  {text-decoration:none;}

.linkSubir a,.linkSubir a:visited,.linkSubir a:visited:hover, .pagArriba a , .pagArriba a:visited, .pagArriba a:visited:hover {
  color: #7F8BFF;
  text-decoration: none;
  font-weight: normal;
  background-repeat: no-repeat;
  background-image: url(../imagenes/puntoSubir.gif);
  padding: 0 0 0 1.5em;
}
.linkSubir a:hover,.linkSubir a:visited:hover, .pagArriba a:hover, .pagArriba a:visited:hover {
  color: red;
  background-repeat: no-repeat;text-decoration:underline;
}


li.entrada {list-style-image : none;background-image: none}
li.entrada {margin-left:3.5em;}
.entrada a {text-decoration:none;}
/*li.entrada a:link {color:#666}
li.entrada a:visited {color:#666}*/
li.entrada a:hover {color:red;}
/*li.entrada span.entrar {display:block}*/

a .entrar, a:visited .entrar, a.entrar span, a:visited.entrar span {padding:0 20px 0 0;background:url(../imagenes/bkgMas.png) no-repeat 100% 50%;text-decoration:none}

/*------------Encuestas ------------*/
#encuestas h3 {
  border:1px solid #aaa;
  background-color:#eee;
  padding:0.2em 1em;
  color:#000;
  font-weight: normal;
}

#encuestas p.respuestas {margin:1em 3em;border-bottom:1px dotted #aaa}
#encuestas .respuestasSangrado {margin: 0.5em 0 0.5em 1.5em}
#encuestas label {margin: auto 1em; font-weight: normal;}
#encuestas fieldset {margin: 0; padding:0;border-width:0;}

#encuestas option.optionSelected {
  color:#666;
  text-align:center;
  font-style : oblique;
}
label.respuestaLarga {width:30em;}

a .encuesta, a:visited .encuesta {padding:4px 0 4px 30px;background:url(../imagenes/bkgEncuesta.png) no-repeat 0% 50%;text-decoration:none}

a:hover .encuesta, a:hover:visited .encuesta {padding:4px 0 4px 30px;text-decoration:underline; background:url(../imagenes/bkgEncuestaHover.png) no-repeat 0% 50%;}


.bdBoe a {
  background: url(../imagenes/puntoBdBoe.png) no-repeat 0% .5em;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}


.espacioInformacion {padding-top: 2em;}
.listPar li.bdBoe  {width:9em;display:block;float: left;}

.bdBorme a {
  background: url(../imagenes/puntoBdBorme.png) no-repeat 0% .4em;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}

.bdTc a {
  background: url(../imagenes/puntoBdTc.png) no-repeat 0% .4em;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}

.bdConsejo a {
  background: url(../imagenes/puntoBdConsejo.png) no-repeat 0% .4em;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}

.bdAbog a {
  background: url(../imagenes/puntoBdAbog.png) no-repeat 0% .4em;
  padding:0.4em 0 0.4em 2em;padding-left:28px;
}
p.ayudaBD {
  text-align:right;
  margin: 0 .4em 0 3em;
  padding:.1em 0;
  float:right;
  min-height: 15px;
  vertical-align: middle;
}
p.ayudaBD a {
  margin: 0;
  padding:1px 0 0 24px;
  background:url(../imagenes/bkgAyuda.png) no-repeat 0% 50%;
  min-height: 20px;
}

span.ayudaBD {
  text-align:right;
  /*margin: 0 .4em 0 3em;
  padding:.1em 0;*/
  float:right;
  min-height: 15px;
  vertical-align: middle;
}

span.ayudaBD a {
  /*margin: 0;*/
  padding:1px 0 0 24px;
  background:url(../imagenes/bkgAyuda.png) no-repeat 0% 50%;
  min-height: 20px;
}
.pretexto p.ayudaBD {
  margin: .5em 0 0 0em;
}

.ayudasBD ul li {padding:0 0 0.5em}
.ayudasBD ul li ul {padding:.5em 1.5em}

.imgAyudas {margin: 2em auto;text-align:center}
.imgAyudas img {border:1px solid #888;clear:both;opacity:0.8;filter:alpha(opacity=80);}

.pieAyudas {
  margin:1em 0;
  padding:0.5em 1em;
  color:#333;
  background-color: #EFF3F6;
  border:1px solid #C2D1DC;
}

span.simulaBoton {
  border: 1px solid #666;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-color:#eee;
  color:#333;
  padding: 0 .3em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.SimulaDesplegBD2 {
  background-color: #FEFFEC;
  border-width : 1px;
  border-style : solid;
  border-color : #555;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.SimulaDesplegBD2 {width:30em;padding:0.1em 1em;margin-top:1em}
.ejempOperador {color:green}

/*p.ayudaBD {text-align:right;margin:0.5em;padding:0;float:right}*/

@media print
{
#body {background-image: none;}
#indiceSumario #col-1, #indiceSumario .menuIdiomas, #indiceSumario #franja Migas, #indiceSumario .franjaMenu, #indiceSumario #franjaBotones  {display:none;}
#indiceSumario #col-2 {margin:0 auto;padding:0;width:100%;border-width:0;float:none;clear:both;}
#indiceSumario #pie {float:none;clear:both;}
#indiceSumario #contenedor{background-image: none;border-left:0 solid #ddd;
}
}



/*--------mensajes de aviso----------------*/
.prefacio {float: right;width:40em;margin:0;margin-right:4em;}
.prefacio img {float: right;	margin-top:1em;}
.cajaSimple {	border:1px dotted #aaa;	padding:0.8em 2em;	background-color:#fafafa;	color:#000}

.cajaInfo {
  background-image: url(../imagenes/info.gif);
  background-repeat: no-repeat;
  background-position: .5em .8em;
  padding: 0.5em 1em 0.5em 4.5em;
  text-align:left;
  border:1px solid #aaa;
  background-color:#f8f8f8;
  color:#000
}

.cajaInfo ul {padding: 0; margin:0 0 0 2em; }
.cajaInfo ul li {
  padding: .3em 0 .3em 0em;
  margin:0;
  /*background-repeat : no-repeat;
  background-position : 0 .6em;
  background-image : url(../imagenes/rayaLi.gif);*/ }

#barraSep .cajaInfo {
  border-width:1px 0 0;
}

.cajaInfoImportante {
  background-image: url(../imagenes/infoImportante.gif);
  background-repeat: no-repeat;
  background-position: 1% 10%;
  background-color:#D36266;
  color:#000;
  border:1px solid #D90909;
  padding: 1em 2em 1em 4em;
  margin:2em 5em;
  text-align:left;
}
.cajaInfoImportante .cont {
  background-color:#fff;
  color:#000;
  padding: 0.5em 1em 0.5em;
  margin:0;
}
.cajaInfoImportante h3 {
  padding: 0 1em;
  margin:0;
  border-width:0;
}
.cajaInfoImportante p {
  color:#000;
  padding: 0.5em 1em;
  margin:0;
}
.cajaError {
  background-image: url(../imagenes/atencion.gif);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: 2em 0.2em 2em 2em;
  text-align:left;
  color:#000
}
.mensaje {
  background-image: url(../imagenes/info.gif);
  background-repeat: no-repeat;
  background-position: 1% 1%;
  padding: 0.2em 2em 2em 4em;
  margin:5em;
  text-align:left;
  font-size:1em;
  background-color:transparent;
  color:#000
}
.cajaInfo2, .cajaInfoMenu {
  padding: 0.2em;
  text-align:left;
  border:1px dotted #aaa;
  background-color:#fafafa;
  color:#000
}
.cajaInfoMenu {
  padding: 0.3em 1em;
  background-image: url(../imagenes/info_peq.gif);
  background-repeat: no-repeat;
  background-position: 2% 4%;
  text-indent: 15px;
}
.info {
  background-image: url(../imagenes/info_peq.gif);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 27px;
}
.linkFaq {
  background-image: url(../imagenes/bkgFaq_peq.gif);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 20px;
}
.atencion {color:#c80900;font-weight:bold;}

.notaInfo {margin:0.2em 0.8em 1em;text-align:right}
div.cajaInfo p {padding: .5em 0;margin:0}
.bkgBD .cajaInfo {min-height:150px}

table.contacto .contTh {text-align:left}
/*table.contacto td {white-space: nowrap;}*/
table.contacto td.contDpt {text-align:left;padding-left:2.5em}

p.error{
  color: #b52222;
  background-color: #FAE4E4;
  border: 1px solid #b52222;
  padding: 0.5em;
  margin: 1em 3em;
}

/* Página RSS ---------------*/
div#docRSS  {margin:0;padding: 0 4em;}
#docRSS .faqs {margin-top:3em;}
div#docRSS h2 {margin:0;padding: 0;border-top: 2px solid}
div#docRSS h3 {
  border-width: 0;
  font-weight:normal;
  font-size: 1.4em;
  border-top: 1px solid #ccc;
  padding: .3em 0;
}
#docRSS ul.listaFeeds, #docRSS ul.listaFeeds li ul {padding: 0;margin:.5em 0 .5em 2em;}
/*#docRSS ul.listaFeeds {margin-bottom:2em;}*/
#docRSS ul.listaFeeds li {
  list-style-type:none;
  list-style-position:outside;
  list-style-image:none;
  padding: .2em 0;
  line-height:1.4em;
  font-weight:bold;
}
#docRSS ul.listaFeeds li a {
  padding: 0 0 0 25px; background:url(../imagenes/iconRSSpeq.gif) no-repeat 0em .3em;font-weight: normal;display:block;min-height: 20px}
#docRSS ul.listaFeeds li ul li a {font-weight: normal;}
/*.cajaRSS {width:28em;float:left;margin: .5em 1em;border: 1px solid #bbb;padding: 0 1em 1em;background-color:#ffffd5;}
.cajaRSSboe {width:28em;float:left;margin: .5em 1em;border: 1px solid #bbb;padding: 0 1em 1em;;background: #ffffd5 url(/imagenes/bkgRSS_boe.gif) no-repeat 100% 0%}
.cajaRSSborme {width:28em;float:left;margin: .5em 1em;border: 1px solid #bbb;padding: 0 1em 1em;;background: #fbf0f9 url(/imagenes/bkgRSS_borme.gif) no-repeat 100% 0%}*/
#docRSS .cajaRSS h3 {border-width: 0; margin: 0; padding: .5em 0 0;}

.numCdu {font-style:italic; color: #000; font-size: .8em; font-weight: bold; }

.cajaRSScolIzq {width:29em;float:left;}

.alertas .listaAlertasSeleccion {font-weight: bold; font-size: .85em;}
.alertas fieldset {margin: 0 0 .5em 0;padding: 1em;}
.alertas form {margin:0; padding: 0;}
.alertas .inputDest {margin: 1em 0;text-align: center;}


.alertas .labelTab {display:block; float: left; width: 20em; text-align: right; margin: 0 .5em 0 0;vertical-align: bottom;}



.menuAnchor {
  font-size: 0.9em;
  margin:1em 0 1em 1em;
  padding:0.5em 1em;
  color:#333;
  background-color: #EFF3F6;
  border:1px solid #C2D1DC;
  float:right;
  width:20em;
  display:block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.menuAnchor ul, .menuAnchor ol {
  margin:0 0 0 0.3em;
  padding:0;
}
.menuAnchor ul li {
  padding:0.1em;
  list-style-type : none;
  list-style-image: none;
}
.menuAnchor ol li {
  padding:0.5em;
  list-style-type : decimal;
  list-style-position:inside;
  list-style-image: none;
}

.menuAnchor p.titAnchor {
  font-weight:bold;
  margin:0;
  padding:0;
}


.cajaCaptcha {
  text-align: center;	width: 35em;margin: 0 auto;
}




/*----- elementos de la sede ------*/
.cajaHora {margin: 1em auto; padding:1em; border: 2px solid #888;width:40em; text-align:center}
.cajaHora img {margin: 0 .5em 0 2em; vertical-align:middle}
.horaOficial {background:url(../imagenes/sede/bkgReloj.gif) no-repeat 100% 0%;}
.descargaCert {padding: 0 2em}


/*----- publicidad y campañas institucionales -----*/

div.publi {
	margin: 0;
	padding: .2em 0;
	text-align: center;
	background-color: #eee;
	/*border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
}


div.publiH {
	margin: 0;
	padding: .4em 0 .2em;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
  /*border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
}
.publi .item {margin: .4em 0;}
.publiH .item {margin: 0 2em;}

#contenedor .publi h3,
#contenedor .publiH h3 {
	border-width: 0;
	padding: 0;
	margin: 0;
	font-size: .8em;
	color: #aaa;
	/*text-align: left;*/
}